/main-prj-01-starting-setup/node-modules/*
/section07-a-better-dev-env/*
/section08-component-comms/*
/section09-components-2/*
/section10-learning-resources-app/*
/section11-forms/*
/section12-http-requests/*
/section13-routing/*
/section14-animations-transitions/*
/section15-vuex/*
